
<f:layout name="Default" />

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Add Device</h1>

<f:flashMessages renderMode="div" />

<f:render partial="FormErrors" arguments="{object:Device}" />

<f:form action="addDevice"  name="newDevice" object="{newDevice}">
<f:render partial="Device/FormFields" />
	<f:form.submit value="AddDevice" />
</f:form>
</f:section>